@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gilda+Display&display=swap");
h1, h3, h4 {
  font-family: "Gilda Display", sans-serif;
}

body {
  font-family: "Barlow", sans-serif;
}

body {
  background-color: #222222;
  color: white;
}

.pageContact {
  display: grid;
  grid-template-columns: 20% 80%;
}
@media screen and (max-width: 799px) {
  .pageContact {
    display: block;
  }
}

.headerTop p {
  line-height: 160%;
}

.headerContact p,
.hotelContact p {
  color: rgba(255, 255, 255, 0.5);
}

.headerContact p {
  margin: 0;
}

.headerContact {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
}
@media screen and (max-width: 799px) {
  .headerContact {
    display: block;
  }
}

.duscman i {
  color: #AA8453;
  font-size: 200%;
}

.duscman a:hover {
  text-decoration: underline;
  color: #AA8453;
}

.headPhone {
  display: flex;
  margin-top: 10%;
}

.iconHeadPhone {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.phone a {
  color: #AA8453;
}

.headEmail {
  display: flex;
  margin-top: 10%;
}

.iconHeadEmail {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.mail a {
  color: #AA8453;
}

.headAdresse {
  display: flex;
  margin-top: 10%;
}

.iconHeadAdresse {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.adresse a > p {
  color: #AA8453;
}

.form {
  margin-right: 10%;
}
@media screen and (max-width: 799px) {
  .form {
    margin: 20% 0;
  }
}

@media screen and (max-width: 799px) {
  form {
    text-align: center;
    margin-top: 10%;
  }
}

.topForm {
  display: flex;
  margin-bottom: 10%;
}
@media screen and (max-width: 799px) {
  .topForm {
    display: block;
    margin-bottom: 0;
  }
}

.bottomForm {
  display: flex;
  margin-bottom: 10%;
}
@media screen and (max-width: 799px) {
  .bottomForm {
    display: block;
    margin-bottom: 0;
  }
}

input,
#message {
  margin: 2%;
  padding-bottom: 10%;
  background: transparent;
  border-right: none;
  border-top: none;
  border-left: none;
  color: white;
}

textarea {
  width: 104%;
  height: 20%;
}

#envoyer {
  background-color: #AA8453;
  color: white;
  padding: 4%;
  margin-top: 10%;
}

#envoyer:hover {
  -webkit-transform: scale(1.1);
}

input[type=text], input[type=tel], textarea, input[type=email] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 799px) {
  input[type=text], input[type=tel], textarea, input[type=email] {
    width: 100%;
  }
}

.mapInteract {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 799px) {
  .map {
    width: 100%;
  }
}

.hotelContact {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
}
@media screen and (max-width: 799px) {
  .hotelContact {
    display: block;
    margin: 20% auto;
  }
}

.divContact {
  margin-right: 10%;
}

.divContact p {
  color: white;
}
@media screen and (max-width: 799px) {
  .divContact p {
    color: rgba(255, 255, 255, 0.5);
  }
}

.divContact p:hover {
  color: #AA8453;
}

.tel {
  margin-bottom: 10%;
  font-size: 150%;
  font-family: "Gilda Display", sans-serif;
}

.tel a {
  color: white;
}

.iconContactTel {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.tel a:hover {
  color: #AA8453;
}

#aMailFooter {
  border-bottom: 1px solid #AA8453;
  padding-bottom: 2%;
  color: white;
  font-size: 90%;
}

#aMailFooter:hover {
  color: #AA8453;
}

.reseaux {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
}

.reseaux i {
  font-size: 100%;
  color: white;
}
@media screen and (max-width: 799px) {
  .reseaux i {
    font-size: 200%;
  }
}

.reseaux i:hover {
  color: #AA8453;
}

footer {
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  padding: 1% 0% 1% 0%;
}
@media screen and (max-width: 799px) {
  footer {
    padding: 5% 30px;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color: #AA8453;
}

footer span {
  color: rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}

.pageContact h1 {
  font-weight: 400;
}
@media screen and (max-width: 799px) {
  .pageContact h1 {
    font-size: 150%;
  }
}/*# sourceMappingURL=main.css.map */