body {
    background-color: $body-color;
    color: white;
}

.pageContact {
    display: grid;
    grid-template-columns: 20% 80%;
    @media screen and (max-width: 799px) 
    {display: block;}
}

// nav {
//     background-color: $nav-color;
// }


.headerTop p {
    line-height: 160%;
}

.headerContact p,
.hotelContact p {
    color: rgba(255,255,255,0.5);

}

.headerContact p{
    margin: 0;
}

.headerContact {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    @media screen and (max-width: 799px) 
    {display: block;}
}

.duscman i {
    color: $color-primary;
    font-size: 200%;
}

.duscman a:hover {
    text-decoration: underline;
    color: $color-primary;
}

.headPhone { 
    display: flex;
    margin-top: 10%;
}

.iconHeadPhone {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.phone a {
    color: $color-primary
}

.headEmail {
    display: flex;
    margin-top: 10%;
}

.iconHeadEmail {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.mail a {
    color: $color-primary
}

.headAdresse {
    display: flex;
    margin-top: 10%;
}

.iconHeadAdresse {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.adresse a>p {
    color: $color-primary;
}

.form {
    margin-right: 10%;
    @media screen and (max-width: 799px) {
        margin: 20% 0;
    }
}

form{
    @media screen and (max-width: 799px) {
        text-align: center;
        margin-top: 10%;
    }
}

.topForm {
    display: flex;
    margin-bottom: 10%;
    @media screen and (max-width: 799px) {
        display: block;
        margin-bottom: 0;
    }
}

.bottomForm {
    display: flex;
    margin-bottom: 10%;
    @media screen and (max-width: 799px) {
        display: block;
        margin-bottom: 0;
    }
}

input, 
#message {
    margin: 2%;
    padding-bottom: 10%;
    background: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    color: white;
}

textarea {
    width: 104%;
    height: 20%;
}

#envoyer {
    background-color: $color-primary;
    color: white;
    padding: 4%;
    margin-top: 10%;
}

#envoyer:hover{
    -webkit-transform: scale(1.1); 
    }

input[type=text], input[type=tel], textarea, input[type=email]{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    @media screen and (max-width: 799px) 
    {width: 100%;}
}

.mapInteract {
    display: flex;
    justify-content: center;
}

.map{
    @media screen and (max-width: 799px) {
        width: 100%;
    }
}

// --------- footer ----------------

.hotelContact {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    @media screen and (max-width: 799px) {
        display: block;
        margin: 20% auto;
    }
}

.divContact {
    margin-right: 10%;
}

.divContact p {
    color: white;
    @media screen and (max-width: 799px) {
        color: rgba(255,255,255,0.5);
    }
}

.divContact p:hover {
    color: $color-primary;
}

.tel {
    margin-bottom: 10%;
    font-size: 150%;
    font-family: $title-font;
}

.tel a {
    color: white;
}

.iconContactTel {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.tel a:hover {
    color: $color-primary;
}

#aMailFooter {
    border-bottom: 1px solid $color-primary;
    padding-bottom: 2%;
    color: white;
    font-size: 90%;
}

#aMailFooter:hover {
    color: $color-primary;
}

.reseaux {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

.reseaux i {
    font-size: 100%;
    color: white;
    @media screen and (max-width: 799px) {
        font-size: 200%;
    }
}

.reseaux i:hover {
    color: $color-primary;
}

footer {
    background-color: $footer-color;
    display: flex;
    justify-content: center;
    padding: 1% 0% 1% 0%;
    @media screen and (max-width: 799px) {
        padding: 5% 30px;
    }
}

footer a {
    color: white;
}

footer a:hover {
    color: $color-primary;
}

footer span {
    color: rgba(255,255,255,0.5);
}
// --------- global --------------

a {
    text-decoration: none;
}

.pageContact h1 {
    font-weight: 400;
    @media screen and (max-width: 799px) 
    {font-size: 150%;}
}

